
# .gitignore - agregar aquí las carpetas/archivos que no deben subirse
# Ejemplos comunes:
node_modules/
venv/
.env
.env.local
build/
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
coverage/
tmp/
uploads/
*.sql
# Carpeta personalizada (cambie el nombre por la que necesita ignorar)
carpeta_que_no_deben_subir/
css/styles.css
css/styles copy.css
*.db
xunito/applocal.js